<div class="container">
  <h2>Mes réservations</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Voiture</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Prix total</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations">
      <td  data-label="Client">{{ reservation.clientId }}</td>
      <td data-label="Voiture">{{ reservation.voitureId }}</td>
      <td data-label="Date de début">{{ reservation.startDate | date:'dd/MM/yyyy' }}</td>
      <td data-label="Date de fin">{{ reservation.endDate | date:'dd/MM/yyyy' }}</td>
      <td data-label="Prix total">{{ reservation.totalPrice | currency:'MAD' }}</td>
      <td data-label="Status">{{ reservation.status }}</td>
    </tr>
    </tbody>
  </table>
</div>
