<div class="container">
  <h2>Créer une réservation</h2>
  <form (ngSubmit)="addReservation()">
    <div class="form-group">
      <label for="startDate">Date de début</label>
      <input type="date" class="form-control" id="startDate" [(ngModel)]="reservation.startDate"  name="startDate" [attr.min]="minStartDate"  required>
    </div>
    <div class="form-group">
      <label for="endDate">Date de fin</label>
      <input (mouseleave)="calcul()"  type="date" class="form-control" id="endDate" [(ngModel)]="reservation.endDate" name="endDate" [attr.min]="minEndDate(reservation.startDate)" required>
    </div>

    <div class="form-group">
      <label for="totalPrice">Prix total</label>
      <input [value]="reservation.totalPrice" disabled type="number" class="form-control" id="totalPrice"  name="totalPrice" required>
    </div>
    <button type="submit" class="btn btn-primary">Réserver</button>
  </form>
</div>
