<div class="flex items-center justify-center min-h-screen bg-gradient-to-br from-marine-blue to-anthracite-grey p-4">
  <div class="bg-white p-8 rounded-lg shadow-2xl w-full max-w-md">
    <h2 class="text-3xl font-bold text-center text-marine-blue mb-8">Connexion à ImmoGestion</h2>
    <form>
      <div class="mb-6">
        <label for="username" class="block text-anthracite-grey text-sm font-semibold mb-2">Nom d'utilisateur</label>
        <input type="text" id="username" placeholder="Entrez votre nom d'utilisateur"
               class="shadow-sm appearance-none border border-pearl-grey rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-light-blue focus:border-transparent">
      </div>
      <div class="mb-6">
        <label for="password" class="block text-anthracite-grey text-sm font-semibold mb-2">Mot de passe</label>
        <input type="password" id="password" placeholder="Entrez votre mot de passe"
               class="shadow-sm appearance-none border border-pearl-grey rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-light-blue focus:border-transparent">
      </div>
      <button type="submit"
              class="w-full bg-light-blue hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline transition-colors duration-300">
        Se Connecter
      </button>
    </form>
    <p class="text-center text-gray-600 text-sm mt-6">
      Pas encore de compte ? <a routerLink="/register" class="text-light-blue hover:underline">Inscrivez-vous ici</a>
    </p>

  </div>
</div>
