<nav class="nav-bar">
  <div class="logo">
    <span class="logo-text">aitLoutar Cars</span>
  </div>
  <div class="links">
    <a href="/home" routerLinkActive="active">Home</a>
    <a  *ngIf="role === 'ADMIN'" routerLink="/add" routerLinkActive="active">Rentals</a>
    <a routerLink="/cars" routerLinkActive="active">cars</a>
    <a *ngIf="role ==='ADMIN'" routerLink="/reservations" routerLinkActive="active">reservations</a>
    <a *ngIf="role ==='CLIENT'" routerLink="/reservations" routerLinkActive="active">reservation</a>
    <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
    <a *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">
      <button class="login-btn">Login</button>
    </a>
    <a *ngIf="authService.isLoggedIn()" href="#" (click)="onLogout()">Logout</a>

  </div>
</nav>
