
<div *ngIf="!cars.length && !errorMessage" class="loading">
  Chargement des voitures...
</div>

<div *ngIf="cars.length" class="cars-grid">
  <div *ngFor="let car of cars" class="car-card">


    <div class="car-image">
      <img
        *ngIf="car.imageUrl"
        [src]="car.imageUrl"
        [alt]="car.brand + ' ' + car.model"
        onerror="this.style.display='none'; this.nextElementSibling.style.display='block'"
      >
      <div class="no-image" style="display: none;">
        <span>Image non disponible</span>
      </div>
      <div *ngIf="!car.imageUrl" class="no-image">
        <span>Aucune image</span>
      </div>
    </div>


    <div class="availability-badge" [class.available]="car.available" [class.unavailable]="!car.available">
      {{ car.available ? 'Disponible' : 'Indisponible' }}
    </div>


    <div class="car-content">
      <h3 class="car-title">{{ car.brand }}</h3>
      <p class="car-model">{{ car.model }}</p>
      <p class="car-category">{{ car.category }}</p>
      <div class="car-price">{{  car.pricePerDay | currency:'MAD' }} / jour</div>


      <div class="car-actions">
        <button
          class="btn btn-reserve"
          [routerLink]="['/booking', car.id]">
          Réserver
        </button>
        <button *ngIf="isAdmin()"
                class="btn btn-delete"
                (click)="onDelete(car)">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
