<div class="container">
  <h2>Les réservations</h2>
  <table class="table">
    <thead>
      <tr>
        <th *ngIf="isAdmin">Client</th>
        <th>Voiture</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Prix total</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td *ngIf="isAdmin" data-label="Client">{{ reservation.clientId }}</td>
        <td data-label="Voiture">{{ reservation.voitureId }}</td>
        <td data-label="Date de début">{{ reservation.startDate | date:'dd/MM/yyyy' }}</td>
        <td data-label="Date de fin">{{ reservation.endDate | date:'dd/MM/yyyy' }}</td>
        <td data-label="Prix total">{{ reservation.totalPrice | currency:'MAD' }}</td>
        <td data-label="Status">{{ reservation.status }}</td>
        <td  data-label="Actions" class="actions-cell" >
          <button class="btn btn-delete" (click)="onDelete(reservation.id)">Supprimer</button>
          <ng-container *ngIf="isAdmin && reservation.status == 'EN_ATTENTE'">
            <button class="btn btn-confirm" (click)="onConfirm(reservation.id)">Confirmer</button>
            <button class="btn btn-refuse" (click)="onRefuse(reservation.id)">Refuser</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
